.wrapper {
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 6rem;
  gap: 0.5em;
}

.box1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  max-width: 12rem;
  max-height: 10rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.7rem;
  background-color: #fff;
  text-align: start;
}

.box2 {
  max-width: 12rem;
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  border-radius: 0.5rem;
  padding: 0.7rem;
  background-color: #fff;
  text-align: start;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.boxL {
  width: 10rem;
  width: 12rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.7rem;
  background-color: #fff;
  text-align: start;
  grid-row: 1/ 3;
  grid-column: 2 / 3;
}

.cardTitle {
  font-weight: 500;
  font-size: 1rem;
}

.balance {
  font-size: 1.8rem;
  font-weight: 700;
}

.text {
  color: #909090;
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 500;
}

.ellipsisText {
  max-width: 90%;
  color: #909090;
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text span {
  background-color: #eff2f9;
  padding: 0 0.2rem;
  border-radius: 0.3rem;
  margin-right: 1.5rem;
}

.iconWrapper {
  display: flex;
  min-height: 7rem;
  align-items: end;
  justify-content: end;
}

.checkMark {
  width: 60px;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #e2e1e1;
  border-radius: 50%;
}

.title {
  font-weight: 800;
  align-self: start;
  margin-bottom: 0.6rem;
}

.listWrapper {
  width: 100%;
  max-height: 100%;
  padding-left: 0.7rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 0.7rem 0.7rem 0.7rem 0;
  border-bottom: 1px solid #e2e2e2;
  cursor: pointer;
}

.listItemTitle {
  font-weight: 700;
  line-height: 1.5rem;
}

.flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.apple {
  min-width: 45px;
  height: 45px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #606060;
  border-radius: 0.3rem;
}

.sumContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sum {
  margin-right: 1rem;
}

.listItemContainer {
  margin-left: 0.7rem;
  width: 85%;
}
