.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: #dae5e6;
}

.container {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
